body {
   height: 100vh;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

#laranja {
   height: 200px;
   width: 200px;
   border-radius: 50%;
   background-color: orange;
   border: 2px solid black;
}

#azul {
   height: 200px;
   width: 200px;
   border-radius: 50%;
   background-color: mediumblue;
   border: 2px solid black;
}
